.college{
    padding:30px;
    margin:40px;
    border:2px solid blue;


}
.ashoka{
    padding:40px;
    margin:40px;
    border:2px solid olive;
}
.parent1{
    border:1px solid blueviolet;
    width:400px;

}
.parent2{
    border:3px solid blueviolet;
    width:300px;
}